span {
    color: rgb(0, 81, 255);
}

table {
    width: 100%;
}

thead {
    background-color: rgb(0, 0, 255);
   
}

.color-blu {
    background-color: aqua;
}

.testo-centrale {
    text-align: center;
}

.color-gray{
    color: gray;
}

.image-finale-uno {
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
}

.image-finale-due {
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
}
.grandezza-testo {
    text-size-adjust: ;
}
.color-white{
    color: white;
}
td {
    width: 300px;
}
.misure-logo {
    text-align: left;
    width: 200px;
    margin: -30px -35px;
}
.sfondo-logo {
    background-color: aqua;
    background-image: url(../img/pattern.png);  
    padding: 30px;
    margin: -8px -8px;
}
.misure-immagini-iniziali {
    margin: 0px;
}