span {
    color: rgb(0, 81, 255);
}

table {
    width: 100%;
}

thead {
    background-color: rgb(0, 0, 255);
   
}

.color-blu {
    background-color: aqua;
}

.testo-centrale {
    text-align: center;
}

.color-gray{
    color: gray;
}

.image-finale-uno {
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
}

.image-finale-due {
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
}
.grandezza-testo {
    text-size-adjust: ;
}
.color-white{
    color: white;
}
td {
    width: 300px;
}